





/* (Adicione isso ao final do seu style.css) */
    .notebook-item {
      background-color: #f9f9f9;
      padding: 1rem;
      border-radius: 4px;
      border: 1px solid #eee;
      margin-bottom: 0.5rem;
    }

    .notebook-item h4 {
      color: #2c3e50;
    }